<div class="movie-list wrapper">
    <div class="container">
        <div class="movie-list_header">
            <FilterButtons :label="label"
                           :buttonsSet="buttonsSet"
                           @changeFieldName="sortMovies">
            </FilterButtons>
        </div>
        <div class="movie-list_movies" v-if="moviesCount">
            <MovieItem
                 v-for="movie in movies"
                 :key="movie.name"
                 :movie="movie">
            </MovieItem>
        </div>
        <div class="movie-list_empty" v-else>
            No films found
        </div>
    </div>
</div>
