.search-movie {
  width: 90%;
  padding: 70px 0;
  margin: 0 auto;

  &__form {
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    &.show-movie-list{
      background: none;

      input {
        background: rgba(0, 0, 0, 0.5);
        width: 79%;
      }

      .search_btn {
        background: @red;
        width: 20%;

        span {
          display: inline;
        }
      }

    }

    &.empty-movie-list{
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;

      input {
        background: none;
        width: calc(100% - 30px);
      }

      .search_btn {
        .addIcon(@red, "../../../assets/search.svg", 35px, 35px);

        span {
          display: none;
        }
      }
    }

    input {
      padding: 0 15px;
      font-size: 18px;
      border: none;
      outline: none;
      background: none;
      display: inline-block;
      color: @whiteText;
      border-radius: 3px;
      box-sizing: border-box;
    }

    .search_btn {
      color: @whiteText;
      display: inline-block;
      padding: 15px 20px;
      font-size: 18px;
      font-weight: 200;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
