.filter-buttons {
  &_btn {
    &__active {
      background: @red;
    }
    &__inactive {
      background: @inactiveBtnBackground;
      cursor: pointer;
    }
    &__inactive:hover {
      color: @red;
    }
  }
}
