<div class="filter-buttons">
    <div class="filter-buttons_label">
        {{ label }}
    </div>
    <div class="filter-buttons_list">
        <ul>
            <li v-for="(button, index) in buttonsSet">
                <button :class="{'filter-buttons_btn__inactive': activeButtonIndex !== index,
                                'filter-buttons_btn__active': activeButtonIndex === index}"
                        @click="runCallback(button.filterField, index)">
                    {{button.label}}
                </button>
            </li>
        </ul>
    </div>
</div>
