<div class="header wrapper">
    <div class="container">
        <div class="header_top-part">
            <div class="logo">
                <span class="logo_first-part">netflix</span>roulette
            </div>
            <div class="search"></div>
            <SearchMovie v-if="!Object.keys(movieInfo).length"></SearchMovie>
            <MovieFullInfo v-if="Object.keys(movieInfo).length"
                           :movieInfo="movieInfo">
            </MovieFullInfo>
        </div>
    </div>
</div>
